/*头部*/
.conttent{
	background: #F7F7F7;
}
.head{
	width: 100%;
	background: white;
	margin: 0;
    padding: 0;
    clear: both;
}
.head1{
	width: 1190px;
	clear: both;
	height: 74px;
    line-height: 74px;
    margin: 10px auto 0;
    padding: 36px 0 20px;
    display: block;
    clear: both;
            
}
.head1 a img{
	display: block;
	float: left;
}
.head1 span.one{
	float: left;
	display: block;
}
.head1 span.two{

	float: right;
	display: block;

}
.head1 span.two a{
	color: #e91456;
	cursor: pointer;
	cursor: pointer;
}
.head1 span.two a:hover{
	color: #e91456;
	text-decoration: underline;
}
.head1 span i{
	font: 12px/1.14 arial,\5b8b\4f53;
}
/*注册*/

.f-regist {
	width: 1190px;
	margin: 30px auto 20px;
	margin-bottom: 20px;
	height: 379px;
	background: #FFFFFF;
	clear: both;
}
.f-regist form{
	width: 435px;
    height: 377px;
    margin: 0 auto;
    background: #FFFFFF;
	text-align: center;
    float: left;
    padding: 0;
}
.f-regist form input.one{
	margin-top: 25px;
}
.f-regist form input{
	width: 284px;
	height: 34px;
	border: 1px solid gainsboro;
	margin-top: 5px;
}
.f-regist form div{
	width:284px ;
	height: 30px;
	/*border: 1px solid gray;*/
	border: none;
	margin-left: 106px;
	margin-top: 5px;
	color: red;
}
.f-regist form .box{
	width: 12px;
	height: 12px;
}
.f-regist form p{
margin-top: ;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
}
.f-regist form #button{
	width: 276px;
	height: 32px;
	    background: #cc1c23;
	    color: #fff;
	    margin-top: 30px;
	    margin-left: 40px;
	    display: block;
}
.f-regist form h6{
	margin-top: 20px;
	font-size: 12px;
	font-weight: normal;
	color:red;
}
.f-regist form h6 a:hover{
	color: #e91456;
	text-decoration: underline;
	cursor: pointer;
}
.f-regist .right{
	float: left;
}
.f-regist .right img{
	width: 560px;
	height: 377px;
}
/*尾部*/
#footer_footer .footer-two .one{
	width: 1200px;
    height: 46px;
    display: block;
    padding: 0;
    margin: 0 auto;
    background: url(../img/common/foot_info.jpg) no-repeat scroll 0 0;
    text-indent: -9999px;
    overflow: hidden;
}
#footer_footer .footer_three .content .one{
	float: left;
    width: 123px;
    height: 123px;
    background: url(../img/common/jlg_2d.jpg) no-repeat scroll 0 0;
    text-indent: -9999px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 13px;
}
#footer_footer .footer_three .content .three{
	float: left;
    width: 260px;
    height: 65px;
    margin-top: 35px;
    background: url(../img/common/call_rz.jpg) no-repeat scroll 0 0;
    text-indent: -9999px;
    overflow: hidden;
    margin-left: 50px;
}
/*注册*/